body {
  background-color: hsla(61, 55%, 81%, 0.671);
  font-family: "Open Sans", sans-serif, Verdana, sans-serif;
}

#main-header {
  font-size: 80px;
  text-align: center;
  color: hsl(33, 24%, 57%);
}

ul {
  text-align: center;
  list-style-position: inside;
  margin-left: -60px;
  list-style-type: none;
}

.recipe-link {
  text-decoration: none;
  font-size: 70px;
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.356);
}

.recipe-link:hover {
  background-color: hsla(33, 24%, 57%, 0.356);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}